@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@media print {
  body > #root > *:not(.print-only) {
    display: none;
  }
  .print-only {
    display: block !important;
  }
  @page {
    size: A4;
    margin: 1cm;
  }
}

/* Custom scrollbar for tables */
.overflow-x-auto::-webkit-scrollbar {
    height: 8px;
}
.overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #555; 
}